In [1]:
import pandas as pd
import configparser
import matplotlib.pyplot as plt
%matplotlib inline

from Wrapper import *
# from Influx_Dataframe_Client import Influx_Dataframe_Client

# Data Sources

## MDAL

In [11]:
site = "south-berkeley-senior-center"
start = '2018-09-01T00:00:00Z'
end = '2018-11-19T00:00:00Z'

mdal_obj = Import_MDAL()

In [10]:
obj1 = mdal_obj.get_meter(site=site, start=start, end=end, var='meter', agg='MEAN', 
                 window='15min', aligned=True, return_names=True)
obj1.df.head()

                           Green_Button_Meter1
2018-08-31 17:00:00-07:00               3360.0
2018-08-31 17:15:00-07:00               3520.0
2018-08-31 17:30:00-07:00               3360.0
2018-08-31 17:45:00-07:00               3520.0
2018-08-31 18:00:00-07:00               3520.0

In [13]:
obj2 = mdal_obj.get_weather(site=site, start=start, end=end, var='weather', agg='MEAN', 
                   window='24h', aligned=True, return_names=True)
obj2.df.head()

,Weather_Temperature_Sensor1,Weather_Temperature_Sensor2
2018-08-31 17:00:00-07:00,63.428367,58.212320
2018-09-01 17:00:00-07:00,59.987216,57.690123
2018-09-02 17:00:00-07:00,63.235510,56.623310
2018-09-03 17:00:00-07:00,63.154694,54.917427
2018-09-04 17:00:00-07:00,59.211875,55.899725

In [14]:
obj3 = mdal_obj.get_tstat(site=site, start=start, end=end, var='tstat_temp', agg='MEAN', 
                 window='24h', aligned=True, return_names=True)
obj3.df.head()

,HVAC_Zone_AC_3_tstat_temperature,HVAC_Zone_Front_Office_tstat_temperature,HVAC_Zone_AC_2_tstat_temperature
2018-08-31 17:00:00-07:00,72.592064,74.393090,72.150443
2018-09-01 17:00:00-07:00,70.106667,72.243253,69.961194
2018-09-02 17:00:00-07:00,68.602472,71.691968,68.907314
2018-09-03 17:00:00-07:00,70.905139,73.412804,70.568589
2018-09-04 17:00:00-07:00,70.589488,73.503633,70.199911

In [17]:
obj4 = mdal_obj.get_tstat(site=site, start=start, end=end, var=['tstat_hsp',"tstat_state"], agg=['MEAN','MEAN'], 
                          window='24h', aligned=True, return_names=True)
obj4.df.head()

,HVAC_Zone_AC_3_tstat_heating_setpoint,HVAC_Zone_AC_2_tstat_heating_setpoint,HVAC_Zone_Front_Office_tstat_heating_setpoint,HVAC_Zone_Front_Office_tstat_state,HVAC_Zone_AC_3_tstat_state,HVAC_Zone_AC_2_tstat_state
2018-08-31 17:00:00-07:00,62.002415,62.002898,62.434447,0.000643,0.000000,0.000000
2018-09-01 17:00:00-07:00,62.001571,62.002094,62.002786,0.000000,0.000000,0.000000
2018-09-02 17:00:00-07:00,65.034195,65.029627,65.936960,0.002400,0.013806,0.014613
2018-09-03 17:00:00-07:00,65.176183,65.169821,66.047387,0.000487,0.005873,0.009788
2018-09-04 17:00:00-07:00,65.239134,65.132988,65.908072,0.000284,0.061697,0.007195

## XBOS

In [3]:
# xbos_obj = Import_XBOS()
# xbos_obj.get_weather_power_tstat('ciee', '2018-08-01T00:00:00Z', '2018-08-30T00:00:00Z', 
#                                         data_type=['power', 'temperature'])
# imported_data = xbos_obj.data
# imported_data.head()

In [4]:
# main_obj = Wrapper()

# cleaned_data = main_obj.clean_data(imported_data, high_bound=9998,
#                                 rename_col=['1', '2', '3', '4', '5'],
#                                 drop_col='1',
#                                 save_file=False)

# preprocessed_data = main_obj.preprocess_data(cleaned_data, week=True, tod=True, 
#                                             standardize=True,
#                                             save_file=False)

# main_obj.model(preprocessed_data, dep_col='5', alphas=np.logspace(-4,1,5), figsize=(18,5),
#                 cv=5,
#                 baseline_period=["2018-08-01","2018-08-15"], 
#                 projection_period=["2018-08-16","2018-08-30"])

# main_obj.write_json()

## CSV

In [5]:
# main_obj = Wrapper()
# main_obj.read_json(file_name='input.json')
# main_obj.search(file_name='input.json')

In [6]:
# def func(X, y):
#     from sklearn.linear_model import LinearRegression
#     from sklearn.model_selection import cross_val_score
#     model = LinearRegression()
#     model.fit(X, y)
#     return model.predict(X)

# main_obj = Wrapper()

# imported_data = main_obj.import_data(folder_name='../data/', head_row=[5,5,0], 
#                                      save_file=False)

# cleaned_data = main_obj.clean_data(imported_data,
#                                     resampler='max',
#                                     high_bound=9998,
#                                     rename_col=['OAT','RelHum_Avg', 'CHW_Elec', 'Elec', 'Gas', 'HW_Heat'],
#                                     drop_col='Elec',
#                                     save_file=False)

# preprocessed_data = main_obj.preprocess_data(cleaned_data, week=True, tod=True, 
#                                             normalize=True,
#                                             save_file=False)

# main_obj.model(preprocessed_data, dep_col='HW_Heat', alphas=np.logspace(-4,1,5), figsize=(18,5),
#                 cv=5,
#                 baseline_period=["2014-01","2014-12"], 
#                 projection_period=["2015-01","2015-12", "2016-01","2016-12"],
# #                project_ind_col=['OAT'],
#                 exclude_time_period=[],
#                 custom_model_func=func)

# main_obj.write_json()

## InfluxDB

In [7]:
# database = 'pyTestDB' # Change this in config file!
# measurement = 'SkySpark_Power'
# tags_list = ['Building_Number']
# values_list = ['30_1']
# client = Influx_Dataframe_Client('./influx_config.yaml')

# query1 = client.specific_query(database, measurement, tags=tags_list, values=values_list,
#                                 start_time='2017-08-01 00:00:00', end_time='2018-07-31 00:00:00')
# query2 = client.specific_query(database, measurement='Outdoor_Air_Temperature',
#                                 start_time='2017-08-01 00:00:00', end_time='2018-07-31 00:00:00')

In [8]:
# df = query1.copy()
# df = df.join(query2, how='outer')
# df.plot()

In [9]:
# main_obj = Wrapper()

# cleaned_data = main_obj.clean_data(df, rename_col=['Power', 'OAT'])

# preprocessed_data = main_obj.preprocess_data(cleaned_data, col_degree=['OAT'], degree=[2], 
#                                               month=True, week=True)

# main_obj.model(preprocessed_data, dep_col='Power', baseline_period=["2017-08", "2018-04"],
#                projection_period=["2018-05", "2018-07"],
#                alphas=np.logspace(-4,1,5))
# main_obj.write_json()